/********************************************************************************/
/* SPECIFIC LAYER STYLES
/********************************************************************************/
#textos_infografia li {
    line-height: 30px;
}

#textos_infografia .note_pointer_left, #textos_infografia .note_pointer_right {
    display: inline-table;
    position: relative;
}

#textos_iconografia i {
    font-size: 27px;
    cursor: default;
    color: #3f637e;
}

#textos_iconografia i:hover {
    color: #99cc33;
}

#textos_iconografia .little i {
    font-size: 14px;
}

#textos_iconografia .large i {
    font-size: 50px;
}

#textos_iconografia .color i { font-size: 30px; }
#textos_iconografia .color i.a { color: #0ff; }
#textos_iconografia .color i.b { color: #f0f; }
#textos_iconografia .color i.c { color: #00f; }
#textos_iconografia .color i.d { color: #3de467; }

#textos_iconografia .link i { font-size: 30px; }

#textos_iconografia .effects i { font-size: 30px; color: #f00; margin: 0 10px; }
#textos_iconografia .effects i.a { text-shadow: 5px 5px 10px #000; }
#textos_iconografia .effects i.b { text-shadow: 10px 10px 3px #000; }
#textos_iconografia .effects i.c { text-shadow: 15px 5px 5px #000;  }
#textos_iconografia .effects i.d { text-shadow: 8px 0px 0px #000;  }

#media_video .box_examples {
    width: 700px;
}

#media_video .box_body_highlighted {
    width: 700px;
}

#media_video .box_examples pre {
    margin: 0;
}

#media_video ul {
    margin: 0;
}

main_vertical .vertical-menu .chalkboard_content {
    height: 330px;
}

main_horizontal .horizontal-menu .chalkboard_content {
    height: 300px;
}

main_vertical_both .vertical-menu-both-sides {
    margin: 5px 0 0 5px;
}

main_vertical_both .vertical-menu-both-sides .chalkboard_content {
    width: 490px;
    height: 300px;
}

main_vertical_both .vertical-menu-both-sides .chalkboard_items_right {
    margin-left: 10px;
}

main_vertical_both .vertical-menu-both-sides .chalkboard_items_left {
    margin-right: 10px;
}

main_vertical_both pre {
    margin: 0;
}

/********************************************************************************/
/* SPECIAL CONTENT "Map"
/********************************************************************************/
#mapa_principal {
    background: url(../content/mapa.png) no-repeat 0 0;
    width: 920px;
    height: 400px;
}

#mapa_principal .icon_more {
    position: relative;
    width: 0;
    height: 10px;
}

#mapa_principal .instruction { position: absolute; bottom: 25px; }


/********************************************************************************/
/* CSS3 ANIMATION
/********************************************************************************/
#animation_3 .instruction { text-align: center; }
#animation_3 .box_stressed { width: 700px; }
#animation_3 .box_connection { width: 700px;  margin: 0 auto 10px; }
#animation_3 .stave { background: url(../content/img17.png) no-repeat; width: 450px; height: 110px; margin: auto; position: relative; }
#animation_3 .musical-note-name { width: 22px; height: 20px; position: absolute; font-size: 15px; color: #16a183; opacity: 0; background: #16a183; -webkit-animation-fill-mode: backwards; animation-duration: 10s; animation-fill-mode: backwards; }

#animation_3 .musical-note { width: 15px; height: 12px; background: url(../content/img17_1.png) no-repeat; position: absolute; -webkit-animation-fill-mode: forwards; animation-name: musical-note; animation-duration: 10s; animation-fill-mode: forwards; }

@keyframes musical-note { 0% { left: 0; top: 0; } 10% { left: 46px; top: 65px; } 20% { left: 87px; top: 54px; } 30% { left: 128px; top: 42px; } 40% { left: 164px; top: 30px; } 50% { left: 200px; top: 18px; } 60% { left: 247px; top: 60px; } 70% { left: 291px; top: 48px; } 80% { left: 337px; top: 36px; } 100% { left: 388px; top: 25px; }
}

@keyframes musical-note-mi {
    0% { opacity: 0; } 10% { opacity: 0.4; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#animation_3 .musical-note-name.mi { left: 44px; top: 90px;  animation-name: musical-note-mi; }

@keyframes musical-note-sol {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0.4; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#animation_3 .musical-note-name.sol { left: 82px; top: 89px;  animation-name: musical-note-sol; }

@keyframes musical-note-si {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0.4; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#animation_3 .musical-note-name.si { left: 129px; top: 89px;  animation-name: musical-note-si; }

@keyframes musical-note-re {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0.4; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#animation_3 .musical-note-name.re { left: 164px; top: 89px;  animation-name: musical-note-re; }

@keyframes musical-note-fa {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0.4; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#animation_3 .musical-note-name.fa { left: 201px; top: 89px;  animation-name: musical-note-fa; }

@keyframes musical-note-fa-down {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0.4; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#animation_3 .musical-note-name.fa-down { left: 247px; top: 90px;  animation-name: musical-note-fa-down; }

@keyframes musical-note-la {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0.4; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#animation_3 .musical-note-name.la { left: 291px; top: 90px;  animation-name: musical-note-la; }


@keyframes musical-note-do {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0.4; } 100% { opacity: 0; }
}
#animation_3 .musical-note-name.do { left: 337px; top: 90px;  animation-name: musical-note-do; }

@keyframes musical-note-mi-up {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0.4; }
}
#animation_3 .musical-note-name.mi-up { left: 386px; top: 90px; -webkit-animation-fill-mode: forwards; animation-name: musical-note-mi-up; animation-duration: 10s; animation-fill-mode: forwards; }

/********************************************************************************/
/* Imágenes con texto
/********************************************************************************/

#image_content .view-first { margin: 5px 20px; float: left; }
#image_content .instruction { text-align: center; }
#image_content .box_l { margin: auto; }


/********************************************************************************/
/* Imágenes para ampliar
/********************************************************************************/
#image_expand .box_img { width: 400px; }

/********************************************************************************/
/* Pointers with text
/********************************************************************************/

#pointers_text .box_l { background: url(../content/pointers-text.png) no-repeat center top; margin: auto; width: 236px; height: 290px; position: relative; }
#pointers_text .note_1 { left: -55px; top: -11px; }
#pointers_text .note_2 { left: 230px; top: 52px; }
#pointers_text .note_3 { left: 230px; top: 88px; }
#pointers_text .note_4 { left: -55px; top: 104px; }
#pointers_text .note_5 { left: 230px; top: 120px; }
#pointers_text .note_6 { left: -55px; top: 137px; }
#pointers_text .note_7 { left: 230px; top: 165px; }
#pointers_text .note_8 { left: -55px; top: 200px; }
#pointers_text .instruction { width: 435px; margin: auto; text-align: center;}

/********************************************************************************/
/* Actividad CROSSWORD
/********************************************************************************/
#actividad_crossword .jpit_activity_crossword_board { width: 245px; }

/********************************************************************************/
/* Actividad arrastrar y soltar - apareamiento
/********************************************************************************/

.actividades_arrastrar1.pit-activities-droppable .words_container {
    height: 50px;
}

.actividades_arrastrar1.pit-activities-droppable table {
    empty-cells: show;
    clear: both;
}

.actividades_arrastrar1.pit-activities-droppable th {
    background: #3f637e;
    border-radius: 0 0 0 20px;
    color: #FFFFFF;
    padding: 5px;
    text-align: right;
}

.actividades_arrastrar1.pit-activities-droppable td.droppable {
    width: 80px;
    height: 16px;
}

.actividades_arrastrar1.pit-activities-droppable td.conection {
    width: 30px;
    border: none;
    padding: 5px 10px;
}

.actividades_arrastrar1.pit-activities-droppable .draggable {
    float: left;
    margin: 0 5px 5px 0;
    width: 80px;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - dialogo
/********************************************************************************/

.actividades_arrastrar2.pit-activities-droppable td.sources {
    padding-left: 10px;
    width: 70px;
}

.actividades_arrastrar2.pit-activities-droppable .draggable {
    width: 50px;
    float: left;
    margin-bottom: 5px;
    clear: both;
}

.actividades_arrastrar2.pit-activities-droppable .droppable {
    width: 60px;
    height: 25px;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - completar
/********************************************************************************/

.actividades_arrastrar3.pit-activities-droppable table {
    empty-cells: show;
    border-spacing: 0 5px;
    color: #fff;
}

.actividades_arrastrar3.pit-activities-droppable th {
    background: #3f637e;
    border-radius: 0 0 0 20px;
    color: #FFFFFF;
    padding: 5px;
    text-align: right;
    border: 1px solid #008bd2;
    border-right: 1px solid #3f637e;
}

.actividades_arrastrar3.pit-activities-droppable td {
    padding: 5px;
    border: 1px dashed #00A3A2;
    border-radius: 0 6px 6px 0;
    text-align: left;
    width: 200px;
}

.actividades_arrastrar3.pit-activities-droppable .draggable {
    margin: 0 5px 5px 0;
    width: 200px;
    text-align: left;
    box-shadow: -2px 0 5px #888888;
}

.actividades_arrastrar3.pit-activities-droppable .jpit_activities_jpitdroppable_dropped {
    background-color: #95b0cb;
    border-radius: 0 8px 8px 0;
    box-shadow: none;
    color: #ffffff;
    border-left: 1px solid #3f637e;
}

.actividades_arrastrar3 .words { height: 30px; }
/********************************************************************************/
/* Actividad arrastrar y soltar - insertar
/********************************************************************************/
.actividades_arrastrar4.pit-activities-droppable br.clear {
    margin-bottom: 20px;
}

.actividades_arrastrar4.pit-activities-droppable table {
    empty-cells: show;
    border-spacing: 0 5px;
    font-weight: bold;
}

.actividades_arrastrar4.pit-activities-droppable th {
    background: #3f637e;
    border-radius: 0 0 0 20px;
    color: #FFFFFF;
    padding: 5px;
    text-align: right;
    border-right: none;
}

.actividades_arrastrar4.pit-activities-droppable td {
    padding: 5px;
    border: 1px dashed #00A3A2;
    border-radius: 0 6px 6px 0;
    text-align: left;
    width: 200px;
    border-left: none;
}

.actividades_arrastrar4.pit-activities-droppable .draggable {
    margin: 0 5px 5px 0;
    width: 200px;
}

.actividades_arrastrar4.pit-activities-droppable .wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}

/********************************************************************************/
/********************************************************************************/
/* Actividad arrastrar y soltar multiple
/********************************************************************************/
.actividades_arrastrargrupos table { margin: auto; }


.actividades_arrastrargrupos th { text-align: center; font-size: 16px; color: #3F637E; border-bottom: 2px dotted #95B0CB; width: 100px; }
.actividades_arrastrargrupos td { height: 100px; }

.actividades_arrastrargrupos.pit-activities-multidroppable .sources { width: 100%; height: 65px; margin: 10px auto 0; }

.actividades_arrastrargrupos.pit-activities-multidroppable .draggable {
    width: 80px;
    float: left;
    margin: 0 1px 5px;
    border-radius: 8px;
}

.actividades_arrastrargrupos table .draggable.disabled {
    cursor: default;
}

.actividades_arrastrargrupos table .draggable {
    background-color: #95b0cb;
    border: solid #008bd2 1px;
    border-radius: 8px;
    color:#FFFFFF;
}

.actividades_arrastrargrupos.pit-activities-multidroppable .draggable.wrong {
    border-color: #D60C1B;
    color: #D60C1B;
}

.actividades_arrastrargrupos.pit-activities-multidroppable .box_end { top: 26px; }
.actividades_arrastrargrupos .box_end .correct { padding: 0; }

.actividades_arrastrargrupos.pit-activities-multidroppable .buttons { text-align: center; }

/********************************************************************************/
/* Actividad cloze. Algunas personalizaciones propias del ejemplo
/********************************************************************************/

#actividades_cloze .pit-activities-cloze .verify_container {
    padding-left: 150px
}

#actividades_cloze .pit-activities-cloze .dialogue td {
    padding-left: 30px;
}

/********************************************************************************/
/* Solo para ejemplo de mouse over 1
/********************************************************************************/
#textos_mouse_over_1 .act_mouse_over_one .button {
    background : #FFFFFF;
    border : dashed #00A5C0 1px;
    width : 50px;
    height : 50px;
    float: left;
    margin: 10px;
}

#textos_mouse_over_1 td, #textos_mouse_over_1 th {
    width: 50%;
    vertical-align: top;
}

/********************************************************************************/
/* Solo para ejemplo de mouse over 2
/********************************************************************************/
#textos_mouse_over_2 th {
    vertical-align: top;
}

#textos_mouse_over_2 .act_mouse_over {
    background : #FFFFFF;
    border : dashed #00A5C0 1px;
    width : 50px;
    height : 50px;
    float: left;
    margin: 10px;
}
#textos_mouse_over_2 td p {
    padding:20px;
    text-align: justify;
    box-shadow: 7px 7px 0px #cbcccc;
    border-radius: 0 0 50px 50px;
    font-size:11px;
    color:#808080;
    font-weight:bold;
    background:#FFFFFF;
}

/********************************************************************************/
/* Animaciones
/********************************************************************************/
#animation_1 .movi { height: 80px; }

/********************************************************************************/
/* Antes y después
/********************************************************************************/
#afterbefore2 .twentytwenty-before-label:before { content: "Con filtro"; }
#afterbefore2 .twentytwenty-after-label:before { content: "Mejorada"; }

/********************************************************************************/
/* Solo para ejemplo de mark
/********************************************************************************/
#actividades_mark .pit-activities-mark {
    width: 345px;
    margin: auto;
}

/********************************************************************************/
/* Actividad formulario
/********************************************************************************/
.pit-activities-form .sheet {
	background: url(../img/bg_papel.png) repeat-x left top;
    width: 90%;
    margin: auto;
    padding-top: 35px;
}

.pit-activities-form .sheet_body {
    background-color: #f6f5f2;
    padding: 10px 20px;
    border-radius: 0 0 0 20px;
    box-shadow: 3px 3px 0px #cbcccc;
}

.pit-activities-form input[type=text] {
    background-color: #f6f5f2;
    border: dotted #95b0cb 2px;
    width: 94%;
    margin-bottom: 10px;
    padding: 5px 3%;
}

.pit-activities-form textarea {
    width: 94%;
    height: 40px;
    padding: 3%;
    background-color: #f6f5f2;
    border: dotted #95b0cb 2px;
}

#actividades_form .horizontal-menu .chalkboard_content {
    background-color: #fff;
}


/********************************************************************************/
/* Actividad Check
/********************************************************************************/
